h1 {
  /*font-family: 'Audiowide', cursive;*/
  font-family: 'Alegreya Sans';
  font-weight: 400;
  font-size: 300%;
}

.masthead-brand {
  font-family: 'Audiowide', cursive;
}

.lead, .mastfoot {
  font-family: 'Alegreya Sans', sans-serif;
}

body {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: rgb(132, 191, 114);
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
}

.img-center {
   display: inline;
}

footer {
  background-color: green;
  margin-top: 20px;
  padding: 20px;
}